.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
variables.env
.env
.DS_Store
thumbs.db
*.log
node_modules/
public/dist/*
.eslintrc
frontend/.next
frontend/next.config.js